@import "variables";

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    font-family: $font-stack;
    width: 550px;
}

.container {
    background: $primary-color;
    width: 180px;
    height: 180px;
    position: relative;
}

.element {
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.element1 {
    @extend .element;
    background: $left-color;
    position: absolute;
    left: 0;
    top: 0;
}

.element2 {
    @extend .element;
    background: $left-color;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%) ;
}

.element3 {
    @extend .element;
    background: $left-color;
    position: absolute;
    left: 0;
    top: 100% ;
    transform: translate(0, -100%);
}

.element4 {
    @extend .element;
    background: $center-color;
    position: absolute;
    left: calc(50% - 30px);
    top: 0
}

.element5 {
    @extend .element;
    background: $center-color;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px) ;
}

.element6 {
    @extend .element;
    background: $center-color;
    position: absolute;
    left: calc(50% - 30px) ;
    top: calc(100% - 60px) ;
}

.element7 {
    @extend .element;
    background: $right-color;
    position: absolute;
    left: calc(100% - 60px);
}

.element8 {
    @extend .element;
    background: lightcyan;
    position: absolute;
    left: calc(100% - 60px);
    top: calc(50% - 30px);
}

.element9 {
    @extend .element;
    background: lightcyan;
    position: absolute;
    left: calc(100% - 60px) ;
    top: calc(100% - 60px);
}